*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Amethysta", serif;
  
      
}
body{
    background-color: #5F3973;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #4D654F;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    color: #E0D5BE;

}
.especialidades .title{
    color: #5a885f;
    font-size: 40px;
    text-align: center;
    margin-top: 90px;

}
.especialidades .title span{
    color: #E0D5BE;
    margin-top: 90px;

}
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #E0D5BE;
    transform: scale(1.1);
    transition: .2s;
}


/* estilo do cabeçalho */
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header a{
    color: #E0D5BE;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
transform: scale(1.1);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* Topo do site */
section .topo{
    padding: 40px 4%;

}
section.topo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo h1{
    color: #E0D5BE;
    font-size: 70px;
}
.topo .txt-topo p{
    color: #E0D5BE;
    margin: 40px 0px;
    font-size: 30px;
}
.topo .img-topo img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}
/* estilo especialidades */
section .especialidades{
    padding: 40px 4%;
}
section .especialidades .flex{
    display: flex;
    gap: 90PX;
}
.especialidades .especialidades-box{
    color: #E0D5BE;
    padding: 50px;
    border-radius: 30px;
    margin-top: 90px;
    margin: 15px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px #E0D5BE;
}
.especialidades .especialidades-box i{
    font-size: 30px;

}
.especialidades .especialidades-box h3{
    font-size: 15px;
    margin: 30px 0;
}
/* Estilo do section.sobre */
section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    gap: 50px; 
}

.sobre .img-sobre img {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    border-radius: 10px; 
}

.sobre .txt-sobre {
    color: #E0D5BE;
    max-width: 60%; 
}


.sobre p {
    font-size: 18px;
    color: #E0D5BE;
    line-height: 1.6;
}
.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 40%;
    border: none;
    color: #4D654F;
    font-size: 25px;
    margin-top: 15px;
    cursor: pointer;
    margin: 0 8px;

}
/* estilo portifolio */
/* Sombra ao redor da seção portifolio */
.portifolio {
    padding: 80px;
    background-color: #5F3973; /* cor de fundo */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* sombra ao redor */
    border-radius: 10px;
}

/* Centralizar o título e aplicar estilos */
.portifolio .title {
    color: #E0D5BE; /* roxo */
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Estilo das caixas de imagem do portfólio */
.img-port {
    width: 100%;
    max-width: 300px;
    height: 400px;
    background-color: #E0D5BE; /* cor de fundo das caixas */
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d654fa6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #E0D5BE;
    opacity: 0;
    transition: 3.s;
}
.overlay:hover{
    opacity: 3;
}
/* Efeito de hover nas imagens */
.img-port:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-position: 100% 100%;
}

/* Flex container para centralizar as imagens */
.portifolio .flex {
    display: flex;
    gap: 30px;
    justify-content: center;
}
/* estilo formulario */

section .formulario{
    padding: 80px 4%;

}
.formulario .title {
    color: #E0D5BE;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
form input, form textarea{
    width: 100%;
    background-color: #e0d5be9f;
    border: 0;
    outline: 0;
    padding: 20px 20px 15px 15px;
    border-radius: 20px;
    color: #5F3973;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 300px;
}
form input ::placeholder{
    color: #5F3973;
}
form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #4D654F;
    color: #E0D5BE;
    font-weight: 700;
    cursor: pointer;
    transition: 2.s;

}
@media screen and (max-width:1020px) {
    /* classes gerais */
    .flex{
        flex-direction: column;
    }
    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
  }
    
}